/* PAGINA DE ESTILOS PAGINA PROYECTO 1*/
body {
    background-color:whitesmoke;
}
 h2 {
        text-align: justify;
        font-size: 16pt;
        color: red;
    }

.contendor {
    text-align: left;
    display:flex;
    justify-content:left;
    align-items:center;
    background-color: chartreuse;
    height: 300px;
}
